input[type=text] {
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #686868;
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    overflow: hidden;
    padding-left: 20px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 332px
}

.pr-info-block {
    grid-area: pr-description
}

.pr-info-block {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 46px;
    padding: 25px 20px 25px;
    position: relative;
    text-align: left
}



.pr-price-wrap {
    margin-bottom: 45px;
    max-width: 390px;
    position: relative
}

.sell-content .pr-price-wrap {
    max-width: 530px;
    width: 100%
}

.pr-price-wrap .buy-block {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
    display: inline-block;
    padding: 25px
}

.sell-content .pr-price-wrap .buy-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.buy-block .buttons {
    margin-top: 34px
}

.buy-block-wrap {
    grid-template-areas: "total-price quan" "pr-info-items pr-info-items";
    gap: 0 62px
}

/* buy product css  */

.product-buy-page {
    margin: auto;
    max-width: 1042px;
    padding-bottom: 25px
}

.product-buy-page form {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-column-gap: 21px;
    -moz-column-gap: 21px;
    column-gap: 21px;
    display: grid;
    grid-template-areas: "product buy" "payments buy";
    grid-template-rows: minmax(130px, auto) auto;
    row-gap: 49px;
    text-align: left
}

.payments-container {
    grid-area: payments;
    text-align: left
}

.product-buy-page .pr-price-wrap {
    grid-area: buy;
    margin-bottom: 0
}

.product-buy-page .pr-info-block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    gap: 0 20px;
    grid-area: product;
    grid-template-areas: "pr-image pr-basic" "pr-image pr-price";
    grid-template-columns: 103px auto;
    grid-template-rows: auto;
    margin-bottom: 0;
    max-width: 626px;
    padding: 19px 16px 19px 17px;
    width: 100%
}

.buy-product-seller-info {
    margin-bottom: 5px
}

.product-buy-page .page-title {
    margin-bottom: 0
}

.pr-info-price-cont {
    border-top: 1px solid #d4d4d4;
    padding-top: 10px
}

.buy-product-label {
    margin-bottom: 5px
}

.product-buy-page .view-product-image {
    height: 103px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 103px
}

.product-buy-page .payments-container .choose {
    margin-bottom: 19px
}

.product-buy-page .payments-container .choose+.errorMessage {
    margin: 0 0 20px;
    top: -5px
}

.product-buy-page .currencies-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(165px, 165px));
    max-width: 626px;
    width: 100%
}

.currencies-list-label {
    font-size: 14px;
    margin-bottom: 14px
}

.product-buy-page .cl-row+.cl-row {
    margin-top: 0
}

.product-buy-page .cl-row {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .13);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .13);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    grid-template-columns: auto;
    padding: 12px 5px 10px;
    width: 165px
}

.product-buy-page .cl-row.available-balance {
    min-height: 104px;
    padding: 9px 8px 13px
}

.product-buy-page .cl-row.active,
.product-buy-page .cl-row:hover {
    background-color: #fff;
    border-color: #f28112
}

.product-buy-page .cl-row.active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.product-buy-page .cl-row.disabled,
.product-buy-page .cl-row.disabled:hover {
    background-color: #dededc;
    border-color: #dededc;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    min-height: 104px;
    pointer-events: none
}

.product-buy-page .cl-row .field {
    grid-row: none
}

.product-buy-page .cl-logo-name {
    gap: 5px;
    grid-row: 1;
    grid-column: 1;
    height: 24px;
    line-height: 1;
    max-height: 100%;
    text-align: center
}

.cl-logo-name>img {
    height: 24px;
    width: auto
}

.buy-available-balance-cont {
    font-size: 9px;
    gap: 7px;
    margin-top: auto
}

.buy-available-balance {
    font-size: 22px
}

.product-buy-page .note.delay-send {
    width: 100%
}

.buy-summary-cont {
    font-size: 14px;
    gap: 7px;
    margin-bottom: 25px;
    position: relative;
    padding-top: 13px
}

.buy-summary-cont::before {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dadada;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.summary-data {
    font-size: 32px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 1
}

.agree-terms-notice {
    color: #b5b5b5;
    font-size: 14px;
    margin-top: 24px
}

.row.discount-voucher-row {
    margin: 25px 0
}

.enter-voucher-toggler {
    color: #ec6f16;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline
}

.enter-voucher-toggler.opened,
.enter-voucher-toggler:hover {
    color: #b6b6b6
}

.enter-voucher-block .interactive-row:not(.checkbox) label {
    font-size: 20px
}

.enter-voucher-block .interactive-row.focused:not(.checkbox) label {
    font-size: 0;
    font-weight: 400;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.enter-voucher-block {
    margin-top: 12px
}

.enter-voucher-block>.flex-cont {
    gap: 11px
}

.enter-voucher-block input[type=text] {
    width: 100%
}

.enter-voucher-block .btn-transp-orange {
    border-width: 1px;
    color: #f77939;
    font-size: 14px;
    margin-left: 0
}

.user-email-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px
}

.user-email-label+input[type=text] {
    font-size: 20px;
    font-weight: 400
}

.buy-block .row>.flex-cont {
    font-size: 14px;
    line-height: 1
}

.buy-block .row>.flex-cont+.flex-cont {
    margin-top: 10px
}

.buy-block .buttons .button {
    width: calc(100% - 16px)
}

.commissions-help-cont {
    margin-left: 4px
}

.commissions-help-sign {
    background-color: #445efb;
    border-radius: 50%;
    color: #fff;
    cursor: default;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 12px;
    height: 15px;
    width: 15px
}

.commissions-help-block {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 4.5px .5px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4.5px .5px rgba(0, 0, 0, .1);
    color: #686868;
    display: none;
    font-size: 15px;
    left: calc(100% + 8px);
    padding: 6px 6px 8px;
    position: absolute;
    top: 0;
    z-index: 1
}

.commission-row {
    display: block;
    line-height: 1;
    max-width: 280px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.commission-colored {
    color: #445efb;
    margin-right: 3px
}

.product-buy-page .code {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start
}

.product-buy-page .note {
    width: 100% !important
}


@media only screen and (max-width:1080px) {
    .product-buy-page .pr-info-block {
        margin: 0 auto
    }

    .product-buy-page form {
        grid-template-areas: "product" "payments" "buy";
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .product-buy-page .pr-price-wrap {
        margin: 0 auto
    }

    .payments-container {
        text-align: center
    }

    .product-buy-page .currencies-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .product-buy-page .payments-container .choose+.errorMessage {
        margin: 0 auto 20px
    }
}

@media only screen and (max-width:600px) {
    .product-buy-page .pr-info-block {
        gap: 10px;
        grid-template-areas: "pr-image pr-basic" "pr-price pr-price";
        max-width: 96%
    }

    .product-buy-page .currencies-list {
        gap: 13px 12px;
        max-width: 98%
    }

    .product-buy-page .pr-price-wrap {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 96%
    }
}

@media only screen and (max-width:425px) {
    .pr-price-wrap .buy-block {
        display: block;
        padding: 16px 20px 28px
    }

    .product-buy-page .code {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .buy-block .buttons {
        text-align: center
    }
}